/* Device Responsive Nav */
@media (max-width: 767.98px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav .nav-item {
    flex: 1;
  }
}

/* Base theme styles */
body {
  background-color: #212121;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  padding-top: 70px;
}

/* Register Page Light theme */
body.light-mode {
  background-color: #f8f9fa;
  color: #212121;
}

.form-register {
  background-color: #343a40;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

body.light-mode .form-register {
  background-color: white;
  color: #212121;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-register h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.logo {
  height: 60px;
  width: 60px;
}

/* Buttons */
.btn-outline-light {
  border-color: white;
  color: white;
}

body.light-mode .btn-outline-light {
  border-color: #212121;
  color: #212121;
}

.hero-section {
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

/* Home Page styling */
.hero-btn {
  padding: 12px 30px;
  font-size: 1.1rem;
  font-weight: 500;
}

/*Device styling */
.product-device2 {
  position: absolute;
  right: 10%;
  bottom: -30px;
  width: 200px;
  height: 400px;
  background: #dee2e6;
  border-radius: 20px;
  transform: rotate(10deg);
  z-index: 0;
  opacity: 0.5;
}

.product-device2:first-of-type {
  left: 10%;
  right: auto;
  transform: rotate(-10deg);
}

@media (max-width: 768px) {
  .product-device2 {
    display: none;
  }
}

/* Market Page styling */
.marketbody {
  background-color: #f8f9fa;
}
.hero {
  background: linear-gradient(to right, #343a40, #212529);
  color: white;
  padding: 60px 0;
  text-align: center;
}
.hero h1 {
  font-weight: bold;
}
.product-table {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}
.btn {
  margin-right: 6px;
}

/* Error Flashing */
.flash-container {
  width: 90%;
  max-width: 320px;
  pointer-events: none;
}

.r-flash-container {
  width: 90%;
  max-width: 500px;
  pointer-events: none;
}

.r-flash-mobile {
  width: 100%;
  max-width: 500px;
  pointer-events: none;
}

.small-flash {
  font-size: 0.85rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.4rem;
  pointer-events: auto;
}

/* Cart Page */
.cart-container {
      max-width: 800px;
      margin: auto;
    }
    .cart-header {
      font-weight: 600;
      font-size: 1.75rem;
    }
    .product-img {
      max-width: 90px;
      border-radius: 5px;
    }
    .empty-cart {
      display: none;
    }